<section class="m-landing__intro m-landing">
	<div class="m-landing__section  m-landing__intro-opacity"></div>
	<div class="m-landing__container m-landing__container--in-landing-intro">
		<div class="m-landing__container-title">
			<h1 id="titleElement">{{$ctrl.projectTitle}}</h1>
		</div>
		<div class="m-landing__container-content">
			<p id="contentElement">{{$ctrl.projectContent}}</p>
		</div>
	</div>

</section>

<section class="m-landing__results m-landing">
	<div class="m-landing__section m-landing__results-opacity"></div>
	<div class="m-landing__container m-landing__container--in-results animation-container slide-left">
		<div class="m-landing__container-icon">
			<i class="ipm-graphics"></i>
		</div>
		<div class="m-landing__container-title">
			<h1>Gráficas generales y comparativos</h1>
			<h1>2011-2015</h1>
		</div>
		<a ui-sref="resultados" class="m-landing__container-link">Ver resultados</a>
	</div>
</section>

<section class="m-landing__map m-landing">
	<div class="m-landing__section m-landing__map-opacity"></div>
	<div class="m-landing__container animation-container slide-left">
		<div class="m-landing__container-icon ">
			<i class="ipm-map"></i>
		</div>
		<div class="m-landing__container-title">
			<h1>59 Zonas Metropolitanas</h1>
		</div>
		<a ui-sref="/mapa" class="m-landing__container-link">Explorar</a>
	</div>
</section>

<section class="m-landing__interactive m-landing">
	<div class="m-landing__section m-landing__interactive-opacity"></div>
	<div class="m-landing__container animation-container slide-left">
		<div class="m-landing__container-icon">
			<i class="ipm-interactive"></i>
		</div>
		<div class="m-landing__container-title">
			<h1>Gráficas generales y comparativos</h1>
		</div>
		<a ui-sref="/interactive" class="m-landing__container-link">Conocer más</a>
	</div>
</section>

<section class="m-landing__downloads m-landing">
	<div class="m-landing__section m-landing__downloads-opacity"></div>
	<div class="m-landing__container animation-container slide-left">
		<div class="m-landing__container-icon m-landing__container-icon--in-downloads-section">
			<i class="ipm-download"></i>
		</div>
		<div class="m-landing__container-title m-landing__container-title--in-downloads-section">
			<h1>Reportes, Bases de datos y anexos</h1>
		</div>
		<a ui-sref="/descargas" class="m-landing__container-link m-landing__container-link--in-downloads-section">Descargas</a>
	</div>
</section>