<section class="m-landing__intro m-landing">
	<div class="m-landing__container m-landing__container--in-landing-intro">
		<div class="m-landing__container-title not-hover">
			<h1>INVERTIR PARA MOVERNOS</h1>
		</div>
		<div class="m-landing__container-content">
			<p>Diagnóstico de inversion en movilidad en las zonas metropolitanas de México 2011-2015</p>
		</div>
	</div>

</section>

<section class="m-landing__results m-landing">
	<div class="m-landing__container m-landing__container--in-results animation-container slide-left">
		<div class="m-landing__container-icon">
			<i class="ipm-graphics"></i>
		</div>
		<a ui-sref="resultados" class="m-landing__container-title m-landing__container-title--with-hover">
			<h1>Análisis de la inversión</h1>
			<h1>en movilidad urbana</h1>
			<h1>2011-2015</h1>
		</a>
		<a ui-sref="resultados" class="m-landing__container-link">Ver resultados</a>
	</div>
</section>

<section class="m-landing__map m-landing">
	<div class="m-landing__container animation-container slide-left">
		<div class="m-landing__container-icon ">
			<i class="ipm-map"></i>
		</div>
		<a ui-sref="mapa" class="m-landing__container-title m-landing__container-title--with-hover">
			<h1>Resultados por</h1>
			<h1>zonas metropolitanas</h1>
		</a>
		<a ui-sref="mapa" class="m-landing__container-link">Consulta el mapa</a>
	</div>
</section>

<section class="m-landing__downloads m-landing">
	<div class="m-landing__container animation-container slide-left">
		<div class="m-landing__container-icon m-landing__container-icon--in-downloads-section">
			<i class="ipm-download"></i>
		</div>
		<a ui-sref="descargas" class="m-landing__container-title m-landing__container-title--with-hover m-landing__container-title--in-downloads-section ">
			<h1>Reportes,</h1>
			<h1>Bases de datos</h1>
			<h1>y Anexos</h1>
		</a>
		<a ui-sref="descargas" class="m-landing__container-link">Descarga los datos</a>
	</div>
</section>
<section class="m-landing m-landing__footer">
	<div class="container">
		<div class="m-landing__footer-row">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24">
					<div class="m-landing__footer-column">
						Elaborado por el Instituto de Políticas para el Transporte y el Desarrollo México bajo el auspicio de la Embajada Británica en México y Fondo de Prosperidad.
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24">
					<div class="m-landing__footer-column">
						Los puntos de vista expresados en este estudio no necesariamente reflejan los del Gobierno Británico, la Embajada Británica en México o cualquier otra institución relacionada.
					</div>
				</div>
			</div>
		</div>
		<div class="m-landing__footer-row">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-11-24 pure-u-md-8-24">
					<ul class="m-landing__footer-row__logos">
						<li><img src="./images/logo_embajada_britanica_original.png" alt="Logo Embajada Británica"></li>
						<li><img src="./images/logo_itdp_mexico_original.png" alt="Logo ITDP México"></li>
					</ul>
				</div>
				<div class="pure-u-1 pure-u-sm-13-24 pure-u-md-16-24 color-gray-dark" style="font-size: 12px;font-weight: 500;">
					<div class="creative-commons">
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0;" class="cc-logo" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="color-gray-smooth">Licencia Creative Commons Atribución-NoComercial-SinDerivar 4.0 Internacional</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>