.m-downloads {
	background-color:#F6F6F6;
	padding: 80px 0px;
	@include respond-to('medium') {
		padding: 90px 0px;
	}
	@include respond-to('large') {
		padding: 100px 0px;
	}
}

.m-downloads__section {
	margin: 35px 0px 70px;
	@include respond-to('medium') {
		margin: 45px 0px 90px;
	}
}

.m-downloads__card {
	display:table;
	width: 100%;
	padding: 5px;
}

.m-downloads__card-inner {
	-webkit-transition: box-shadow .3s;
	background-color: white;
	color: $gray-smooth;
	cursor: pointer;
	display: table-cell;
	height: 150px;
	position: relative;
	transition: box-shadow .3s;
	vertical-align: middle;
	font-weight: 500;
	font-family: 'Alegreya Sans', sans-serif;
}

.m-downloads__card-inner__content {
	display: table;
  padding: 0 15%;
}

.m-downloads__card-inner__content-icon {
	display: table-cell;
	height: 21px;
	line-height: 0;
	min-width: 21px;
	position: relative;
	vertical-align: middle;
	width: 21px;
}

.m-downloads__card-inner__content-name {
	display: table-cell;
	font-size: 22px;
	line-height: 20px;
	padding-left: 15%;
	width: 100%;
	
}

.m-downloads__card-inner:hover {
	box-shadow: 1px 0 45px rgba(0,0,0,0.2);
}

.m-downloads__section-selector:nth-child(1) .m-downloads__card-inner:hover {
	color: $gray-dark;
}

.m-downloads__section-selector:nth-child(2) .m-downloads__card-inner:hover {
	color: $green-dark;
}

.m-downloads__section-selector:nth-child(3) .m-downloads__card-inner:hover {
	color: $orange;
}

.m-downloads__section-selector:nth-child(4) .m-downloads__card-inner:hover {
	color: $gray-dark;
}

.m-downloads__section-selector:nth-child(5) .m-downloads__card-inner:hover {
	color: $green-dark;
}

.m-downloads__card-inner__content-icon i:before{
	font-size: 30px;
}