.m-landing {
	height: 100%;
	position: relative;
	overflow-x:hidden;
}
.m-landing__intro {
	background: url('../images/landing_background.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	z-index:4;
}

.m-landing__results {
	background: url('../images/landing_results.jpeg') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	z-index:3;
}

.m-landing__map {
	background: url('../images/landing_map.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	z-index:4;
}

.m-landing__interactive,
.m-landing__downloads {
	z-index:4;
}

.m-landing__section {
	display: block;
	height:  100%;
	width: 100%;
}

.m-landing__container-title,
.m-landing__container-content {
	margin: 0;
	overflow: hidden;
	@include respond-to('medium') {
		letter-spacing: 2px;
	}
}

.m-landing__container-title {
	max-width: 90%;
	padding: 10px 0px;
}

.m-landing__container-title h1 {
	font-size: 35px;
	font-weight: 400;
	margin: 0;
	@include respond-to('medium') {
		font-size: 55px;
	}
	@include respond-to('large') {
		font-size: 65px;
	}
}

.m-landing__container-content {
	font-weight: 300;
	font-size: 22px;
	line-height: 1.5;
	@include respond-to('medium') {
		font-size: 26px;
		line-height: initial;
	}
	@include respond-to('large') {
		font-size: 30px;
		line-height: initial;
	}
}

.m-landing__container-icon i:before{
	font-size: 40px;
}

.m-landing__container-link {
	color: white;
	cursor:pointer;
	font-size: 36px;
	font-weight: 300;
	text-decoration: underline;
}

.m-landing__intro-opacity {
	background-color: rgba(57,57,58, 0.75);	
}

.m-landing__results-opacity {
	background-color: rgba(41,115,115, 0.75);
}

.m-landing__map-opacity {
	background-color: rgba(122,158,159, 0.75);
}

.m-landing__interactive-opacity {
	background-color: rgba(255,133,82, 0.75);
}

.m-landing__downloads-opacity {
	background-color: rgba(230,230,230, 0.75);
}

.m-landing__container {
	bottom: 25%;
	color: white;
	left: 0;
	max-width: 100%;
	padding-left: 62px;
	padding-right: 0;
	padding: 42.5px;
	position: absolute;
	-webkit-transform: translateY(45%);
	-moz-transform: translateY(45%);
	-o-transform: translateY(45%);
	transform: translateY(45%);
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.m-landing__container--in-landing-intro {
	bottom: 50%;
}

.m-landing__container--in-results {
	position:fixed;
}

.m-landing__container-icon--in-downloads-section i:before,
.m-landing__container-title--in-downloads-section,
.m-landing__container-link--in-downloads-section{
	color:  $gray-dark;
}

.animation-container {
	opacity: 0;
}

.slide-left {
	opacity: 0;
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	-moz-transform: translate3d(200px, 0px, 0px);
	-webkit-transform: translate3d(200px, 0px, 0px);
	-o-transform: translate(200px, 0px);
	-ms-transform: translate(200px, 0px);
	transform: translate3d(200px, 0px, 0px);
}

.in-view {
	opacity: 1 ;
	-moz-transform: translate3d(0px, 0px, 0px) ;
	-webkit-transform: translate3d(0px, 0px, 0px) ;
	-o-transform: translate(0px, 0px) ;
	-ms-transform: translate(0px, 0px) ;
	transform: translate3d(0px, 0px, 0px) ;
	
		-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
}

@media screen and (min-width: 768px) {
	.m-landing__intro {
		background-attachment: fixed;
	}

	.m-landing__results {
		background-attachment: fixed;
	}

	.m-landing__map {
		background-attachment: fixed;
	}
	.m-landing__container {
		max-width: 85%;
		padding-left: 72px;
		padding: 52.5px;
	}
	.m-landing__container-title {
		max-width: 70%;
		padding:  20px 0px;
	}
	.m-landing__container-icon i:before{
		font-size: 60px;
	}
	.m-landing__container-link {
		font-size: 25px;
	}
}

@media screen and (min-width: 992px) {
	.m-landing__container {
		padding-left: 126px;
		padding: 95px;
	}
	.m-landing__container-title {
		max-width: 75%;
	}
	.m-landing__container-icon i:before{
		font-size: 80px;
	}
}