#map{ 
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 100%;
	@include respond-to('small') {
		left: 100%;
	}
	@include respond-to('medium') {
		left: calc(100% - 250px);
	}
	@include respond-to('large') {
		left: calc(100% - 500px)
	}

}

.leaflet-top, .leaflet-bottom {
	z-index:9 !important;
}

.m-sidebar {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width: 100%;
	z-index:8;
	background:white;
	@include respond-to('small') {
		width: 100%;
	}
	@include respond-to('medium') {
		width: calc(100% - 250px)
	}
	@include respond-to('large') {
		width: calc(100% - 500px)
	}
	.m-sidebar__zm {
		padding-top: 53px;
		@include respond-to('large') {
			padding-top: initial;
		}
	}
}

.m-sidebar__infra {
	display:none;
	height: calc(100% - 124px);
	overflow-y: auto;
	@include respond-to('large') {
		height: calc(100% - 24px);
	}
}
.m-sidebar.leaflet-control {
	padding: 0;
}

.leaflet-sidebar > .close{
	background: transparent !important;
	right: 20px !important;
	top: 10px !important;
}

.leaflet-sidebar {
	z-index: 9 !important;
}

.m-sidebar__zm {
	padding: 4px;
	text-align:center;
}

.m-medium-title--in-sidebar,
.m-small-title--in-sidebar {
	margin: 0;
}

.m-small-title--in-sidebar {
	font-size: 18px
}

.m-medium-title--in-sidebar {
	font-size: 24px;
}

.m-sidebar__infra {
	padding: 15px;
}
.m-sidebar__zm-select {
	width: 100%;
	margin: 5px auto 0px;
}

.highcharts-title {
	color: $gray-smooth !important;
}

.slick-dots {
	bottom: -225px;
	@include respond-to('large') {
		bottom: -50px;
	}
	li {
		margin: 5px auto 30px;
		@include respond-to('large') {
			margin: 0px 15px;
		}
		button:before {
		  content: '';
		  border-radius: 0%;
		  background: $gray-dark;
			width: 25px;
			height: 5px;
		}
	}
}

.slick-dots.map-dots {
	li {
		width: 100%;
		text-transform: uppercase;
		@include respond-to('medium') {
			width: 100%;
		}
		@include respond-to('large') {
			width: initial;
		}
		a{
			font-size: 14px !important;
			font-weight: 500;
		}
	}
}

.selectize-input {
	font-size: 16px;
	font-weight: 400;
}

.ui-select-choices-row:hover {
	background-color: $gray-light !important;
	color: $gray-dark;
	font-weight: 500;
}

.selectize-dropdown{
	font-size: 16px;
	.active {
		background: $gray-light;
		color: $gray-dark;
		font-weight: 500;
	}
}
@media screen and (min-width:768px) {
	.m-sidebar__zm-select {
		width: 340px;
	}
}