#map{ 
	// height: 100%;
	// width: calc(100% - 700px);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 100%;
	@include respond-to('medium') {
		left: 600px;
	}
	@include respond-to('large') {
		left: 900px;
	}

}

.leaflet-top, .leaflet-bottom {
	z-index:9 !important;
}

.m-sidebar {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width: 100%;
	z-index:10;
	background:white;
	@include respond-to('medium') {
		width: 600px;
	}
	@include respond-to('large') {
		width: 900px;
	}
}
.m-sidebar.leaflet-control {
	padding: 0;
}

.leaflet-sidebar > .close{
	background: transparent !important;
	right: 20px !important;
	top: 10px !important;
}

.leaflet-sidebar {
	z-index: 9 !important;
}

.m-sidebar__zm {
	padding: 4px;
	text-align:center;
}

.m-medium-title--in-sidebar,
.m-small-title--in-sidebar {
	margin: 0;
}

.m-small-title--in-sidebar {
	font-size: 18px
}

.m-medium-title--in-sidebar {
	font-size: 24px;
}

.m-sidebar__infra {
	padding: 15px;
}

.highcharts-title {
	color: $gray-smooth !important;
}

.slick-dots {
	bottom: -50px;
	li {
		margin: 0px 15px;
		button:before {
		  content: '';
		  border-radius: 0%;
		  background: $gray-dark;
			width: 25px;
			height: 5px;
		}
	}
}

.slick-dots.map-dots {
	li {
		width: initial;
		text-transform: uppercase;
	}
}

// @include respond-to('large') {
// 	.leaflet-sidebar {
// 		width: 860px;
// 	}
// }