.m-results {
	padding: 120px 0px;
}
.m-results__chart {
	padding: 20px 0px;
}

.m-results__chart-row {
	margin-bottom: 20px;
}

.m-medium-title--in-results {
	color: #297373;
}

.m-small-title--in-results-graphics {
	color: #297373;
	font-weight: 300;
	padding-right: 10px;
	font-family: 'Alegreya Sans', sans-serif; 
}

@media screen and (min-width: 768px) {
	.m-small-title--in-results-graphics {
		padding-right: 20px;
	}
}