<section class="m-map" id="map">
	<div class="m-sidebar">
		<div class="m-sidebar__zm background-gray-smooth">
			<h2 class="m-small-title m-small-title--in-sidebar">Zona Metropolitana</h2>
			<h1 class="m-medium-title m-medium-title--in-sidebar">{{zmTitle ? zmTitle : 'Seleccione una ZM'}}</h1>
<!-- 						<ui-select ng-model="zm.selected" theme="selectize" style="width: 300px;" title="Choose a country">
			  <ui-select-match placeholder="Seleccione una ZM de la lista...">{{$select.selected.zm}}</ui-select-match>
			  <ui-select-choices repeat="zm_values in zms | filter: $select.search">
			    <span ng-bind-html="zm_values.zm | highlight: $select.search"></span>
			  </ui-select-choices>
			</ui-select> -->
		</div>
		
		<div class="m-sidebar__infra">
			<div class="m-sidebar__infra-slider js-infrastructure-slider">
				<slick settings="slickConfig" infinite=false slides-to-show=1 slides-to-scroll=1>
					<div class="m-sidebar__infra-slider__slide">
						<year-2011 class="m-sidebar__infra-slider__slide__graphic" ></year-2011>
					</div>
					<div class="m-sidebar__infra-slider__slide">
						<year-2012 class="m-sidebar__infra-slider__slide__graphic" ></year-2012>
					</div>
					<div class="m-sidebar__infra-slider__slide">
						<year-2013 class="m-sidebar__infra-slider__slide__graphic" ></year-2013>
					</div>
					<div class="m-sidebar__infra-slider__slide">
						<year-2014 class="m-sidebar__infra-slider__slide__graphic" ></year-2014>
					</div>
				 </slick>
			</div>
		</div>
		
	</div>
<!-- 	<div class="m-sidebar" id="sidebar">
		<div class="m-sidebar__zm background-gray-smooth">
			<h1 class="m-medium-title m-medium-title--in-sidebar">Zona Metropolitana</h1>	
			<h2 class="m-small-title m-small-title--in-sidebar">{{zmTitle}}</h2>
		</div>
		
		<div class="m-sidebar__infra">
			<div class="m-sidebar__infra-slider js-infrastructure-slider">
				<slick settings="slickConfig" infinite=false slides-to-show=1 slides-to-scroll=1>
					<div class="m-sidebar__infra-slider__slide">
						<year-2011 class="m-sidebar__infra-slider__slide__graphic" ></year-2011>
					</div>
					<div class="m-sidebar__infra-slider__slide">
						<year-2012 class="m-sidebar__infra-slider__slide__graphic" ></year-2012>
					</div>
				 </slick>
			</div>
		</div>
	</div> -->
</section>

