<div class="m-logo">
	<a href="#/">
		<img alt="" id="logo_ipm" class="m-logo__logo">
	</a>
</div>

<div class="m-menu">
	<ul class="m-menu__social" id="social">
		<li>
			<a href="https://www.gov.uk/government/world/organisations/british-embassy-mexico-city.es-419" target="_blank">
				<img src="./images/logo_embajada_britanica_black.png" alt="Logo Embajada Británica" id="logo_embajada_britanica">
			</a>
		</li>
		<li>
			<a href="http://mexico.itdp.org/" target="_blank">
				<img src="./images/logo_itdp_mexico_black.png" alt="Logo ITDP México" id="logo_itdp_mexico">
			</a>
		</li>
		<li id="twitteIcon"><a href="https://twitter.com/ITDPmx" target="_blank"><i class="ipm-twitter-logo"></i></a></li>
		<li id="facebookIcon"><a href="https://www.facebook.com/itdpmx/" target="_blank"><i class="ipm-facebook-logo"></i></a></li>
	</ul>
	<div class="m-menu__menu" id="menuButton" ng-click="$ctrl.openMenu()">
		<span><i class="ipm-menu"></i></span>
	</div>
</div>

<div class="overlay overlay-door" ng-class="{'open': $ctrl.isMenuOpen}">
	<button type="button" class="overlay-close" ng-click="$ctrl.openMenu()">Close</button>
	<nav class="js-is-loading">
		<ul>
			<li><a ui-sref-active="active_link" ng-click="$ctrl.goToView('/')">Inicio</a></li>
			<li><a ui-sref-active="active_link" ng-click="$ctrl.goToView('resultados')">Resultados</a></li>
			<li><a ui-sref-active="active_link" ng-click="$ctrl.goToView('mapa')">Mapa</a></li>
			<li><a ui-sref-active="active_link" ng-click="$ctrl.goToView('descargas')">Descargas</a></li>
		</ul>
	</nav>
</div>