@charset "UTF-8";

/**
 *  Colors
 */

$white: #ffffff;
$gray-dark: #545454;
$gray-smooth: #888B8D;
$gray-light: #E6E6E6;
$green-dark: #297373;
$green-ligh: #7A9E9F;
$orange: #FF8552;

$white: #FFFFFF; 