@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	outline:0;
}

html{
	height: 100%;
	display: block;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-size: 16px !important;
  text-rendering: optimizeLegibility;
  margin:0;
	padding:0;
	font-weight: 300;
}

body {
	display: block;
	font-family: 'Alegreya Sans', sans-serif; 
	height: 100%;
	margin: 0;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Maven Pro', sans-serif; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul,
ul{
	list-style-type: none;
	list-style: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

img {
	display:block;
}

hr {
	border-top:1px solid #ffffff;
	margin:10px 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
	width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
	width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
	width: 1070px;
  }
}