@charset "UTF-8";

/**
 *	Fonts
 */
 
@font-face {
    font-family: "ipm";
    src: url("../fonts/ipm.eot");
    src: url("../fonts/ipm.eot?#iefix") format("embedded-opentype"),
             url("../fonts/ipm.woff") format("woff"),
             url("../fonts/ipm.ttf") format("truetype"),
             url("../fonts/ipm.svg#ipm") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "ipm";
        src: url("../fonts/ipm.svg#ipm") format("svg");
    }
}

[class^="ipm-"]:before, [class*=" ipm-"]:before,
[class^="ipm-"]:after, [class*=" ipm-"]:after {   
    font-size: 20px;
    font-family: ipm;
    font-style: normal;
    margin: 0px;
}

.ipv-car:before { content: "\f100"; font-size: 30px;}
.ipv-cycling:before { content: "\f101"; font-size: 30px;} 
.ipv-download:before { content: "\f102"; }
.ipv-download-data:before { content: "\f103"; }
.ipv-download-document:before { content: "\f104"; }
.ipv-facebook-logo:before { content: "\f105"; }
.ipv-graphics:before { content: "\f106"; }
.ipv-interactive:before { content: "\f107"; }
.ipv-map:before { content: "\f108"; }
.ipv-menu:before { content: "\f109"; }
.ipv-next:before { content: "\f10a"; }
.ipv-paving:before { content: "\f10b"; }
.ipv-pedestrian:before { content: "\f10c"; font-size: 30px;} 
.ipv-previous:before { content: "\f10d"; }
.ipv-public:before { content: "\f10e"; font-size: 30px;} 
.ipv-transport:before { content: "\f10f"; font-size: 30px;} 
.ipv-twitter-logo:before { content: "\f110"; }







